<!DOCTYPE html>
<html>
  <head>
    <%- helmet.title.toString() %>
    <%- helmet.meta.toString() %>
    <meta key="charset" charset="utf-8" />
    <meta key="fragment" name="fragment" content="!" />
    <meta key="viewport" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta key="content-type" httpEquiv="content-type" content="text/html; charset=utf-8" />
    <meta key="compatible" http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">
    <link
      key="font-awesome"
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      cross-origin="anonymous"
    />
    <link
      key="material-design-icons"
      rel="stylesheet"
      href="//cdn.materialdesignicons.com/3.2.89/css/materialdesignicons.min.css"
    />

    <% for (const index in assets.stylesheets) { %>
      <link href="<%= assets.stylesheets[index] %>" rel="stylesheet" key="<%= assets.stylesheets[index] %>" />
    <% } %>

    <%- helmet.link.toString() %>

    <script type="text/javascript">
      window.config = "<%= Buffer.from(JSON.stringify(config)).toString('base64') %>";
    </script>

  </head>
  <body>
    <div id="root"><%- body %></div>
    <% for (const index in assets.scripts) { %>
        <script defer type="text/javascript" src="<%= assets.scripts[index] %>" key="<%= assets.scripts[index] %>"></script>
    <% } %>
  </body>
</html>
